body {
    font-family: Arial, sans-serif;
    background-color: #2b3445;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #969393;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-weight: bold;
}

input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
}

button {
    background-color: #007bff;
    color: #ffffff;
    font-size: 16px;
    padding: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

#results {
    margin-top: 10px;
}

.result {
    background-color: #ffffff;
    padding: 15px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

th {
    background-color: #007bff;
    color: #ffffff;
}

.result p {
    margin: 0;
}